.post{
  margin-top: 50px;
  a{
    text-decoration: none;
    color: #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 auto;
  }

  a:hover{
    color:rgb(255, 17, 17);
  }
  .delete-edition{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    line-height: 30px;
    border: 1px solid #969a9e !important;
    border-radius: 10px; 
    text-align: center; 
  }

  &__content{
    height: auto;
    &__recommend{
      .foodimg{
        .foodimg{
          border-radius: 10px;
          margin-top: 1.25rem;
          margin-left: 1.25rem;
          margin-right: 1.25rem;
          box-shadow: 0px 0px 10px;
          width: 200px;
          height: 200px;
        }
      }
    }
    
    &__partition{
      border-bottom: solid 0.5px #a7a2a2;
      font-size: 3.5rem;
      margin-bottom: 0.5rem;
      margin-top: 0px;
      margin-left: 100px;
      margin-right: 100px;
    }
    &__detail{
      width: 80%;
      height: auto;
      
      .tags{
        display: flex;
        height: auto;
        flex-wrap: wrap;
        width: 300px;
        margin-top: 1rem;
        margin-left: 15px;
        .tag{
          background-color:  #cecdcd;;
          color: black;
          width: auto;
          height: 23px;
          margin-left: 6px;
          padding: 4px;
          border-radius: 4px;
          margin: 1.5px;
          border: 6px b;
          border: 1px solid black;
        }
      }
      
      margin: 0 auto;
      &--contributor{
        margin-left: 10rem;
        display: flex;

        .icon{
          
          margin-left: 10px;
          .img{
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin: 0 auto;
          border: 0.5px solid #b9b8b8;
          }
        }
        a{
          color: #0066c0;

        }
        a:hover{
          color:darkorange;

        }
        .name{
          line-height: 64px;
          margin: 0 auto;
          text-align: center;
          font-weight: bold;
          font-size: 15px;
          margin-left: 10px;
          
        }
        .shopname{
          line-height: 64px;
          margin: 0 auto;
          text-align: center;
          font-weight: bold;
          font-size: 30px;
          margin-left: 20px;
        }
        .time{
          margin-top:1rem ;
          margin-left: 0.5rem;
          color: #696565;
        }
        
        a{
          text-decoration: none;
          color: #000;
          
        }
        .brands{
          margin-left: 50px;
          margin: 0 auto;
          font-size: 40px;
          
        }
      }
      &--post{
        display: flex;
        .content{
          .partition{
            border-bottom: solid 0.5px #a7a2a2;
            font-size: 3.5rem;
            padding-bottom: 1rem;
            margin-bottom: 0.5rem;
            margin-top: 0px;
            margin-left: 10px;
            margin-right: 10px;
          }
        .img{
        .image{
          border-radius: 10px;
          margin-top:  1.25rem;
          margin-left: 1.25rem;
          margin-right: 1.25rem;
          box-shadow:0px 0px 10px;
          width: 300px;
          height: 300px;
          background-color: white;
        }
          .time{
            font-size: 12px;
            margin-left: 20px;
          }
        
      }
        .description{
          margin-top: 30px;
          margin-left: 18px;
          width: 300px;
          height: auto;
        }
        .address{
          margin-top: 30px;
          margin-left: 18px;
          width: 300px;
          height: 300px;
        }
      }

      }
   

    }
  }
}