
  .header{
    width: 100vw;
    height: 100px;
    background-color:#252525;
    &__logo{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-left: 30px;
      line-height: 100px;
      font-size: 40px;;
      a{
        color:yellow;
        text-decoration: none;
      }
    }
    &__search{
      .container {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        width: 300px;
        height: 100px;
        .search {
          position: absolute;
          margin: auto;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 40px;
          height: 40px;
          background: 	#ffffff24;
          border-radius: 50%;
          transition: all 1s;
          z-index: 4;
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
          // box-shadow: 0 0 25px 0 	#ffffff24;
          &:hover {
            cursor: pointer;
          }
          &::before {
            content: "";
            position: absolute;
            margin: auto;
            top: 6px;
            right: 0;
            bottom: 0;
            left: 8px;
            width: 9px;
            height: 2px;
            background: white;
            transform: rotate(45deg);
            transition: all .5s;
        
          }
          &::after {
            content: "";
            position: absolute;
            margin: auto;
            top: -5px;
            right: 0;
            bottom: 0;
            left: -5px;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            border: 2px solid white;
            transition: all .5s;
          }
        }
        input {
          font-family: 'Inconsolata', monospace;
          position: absolute;
          margin: auto;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 50px;
          height: 50px;
          outline: none;
          border: none;
          // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          background: 	#ffffff24;
          color: white;
          text-shadow: 0 0 10px 	#ffffff24;
          padding: 0 80px 0 20px;
          border-radius: 30px;
          box-shadow: 0 0 25px 0 	#ffffff24,
                      0 20px 25px 0 rgba(0, 0, 0, 0.2);
          // box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
          transition: all 1s;
          opacity: 0;
          z-index: 5;
          font-weight: bolder;
          letter-spacing: 0.1em;
          &:hover {
            cursor: pointer;
          }
          &:focus {
            width: 200px;
            opacity: 1;
            cursor: text;
          }
          &:focus ~ .search {
            right: -250px;
            background: #151515;
            z-index: 6;
            &::before {
              top: 0;
              left: 0;
              width: 25px;
            }
            &::after {
              top: 0;
              left: 0;
              width: 25px;
              height: 2px;
              border: none;
              background: white;
              border-radius: 0%;
              transform: rotate(-45deg);
            }
          }
          &::placeholder {
            color: white;
            opacity: 0.5;
            font-weight: bolder;
          }
        }
      }
    }
    &__hum{      
      #ham-menu {
        a{
          color: ivory;
        }
        background-color: #151515;
        color: green;
        /*メニュー背景色*/
        box-sizing: border-box;
        height: 100%;
        padding: 10px 40px;
      
        /*メニュー内部上下左右余白*/
        position: fixed;
        right: -300px;
      
        /*メニュー横幅①と合わせる*/
        top: 0;
        transition: transform 0.3s linear 0s;
      
        /*0.3s は変化するのにかかる時間*/
        width: 300px;
      
        /*メニュー横幅①*/
        z-index: 1000;
      
        &::before {
      
      
          /*ボタン部分背景色*/
          border-radius: 0 0 0 10px;
      
          /*左下角丸*/
          color: yellow;
      
          /*アイコン（フォント）色*/
          content: "≡";
      
          /*メニューアイコン*/
          display: block;
          font-size: 50px;
      
          /*アイコン（フォント）サイズ*/
          height: 50px;
          line-height: 50px;
      
          /*縦位置中央化*/
          position: absolute;
          right: 100%;
          text-align: center;
          top: 0;
          width: 50px;
          line-height: 100px;
          margin-right: 10px;
        }
      }
      
      /*メニューアイコン部分は疑似要素で*/
      
      /*透過背景部分*/
      
      #menu-background {
        background-color: #333;
      
        /*黒背景部分背景色*/
        display: block;
        height: 100%;
        opacity: 0;
        position: fixed;
        right: 0;
        top: 0;
        transition: all 0.3s linear 0s;
      
        /*0.3s は変化するのにかかる時間*/
        width: 100%;
        z-index: -1;
      }
      
      /*hover 時の処理*/
      
      #ham-menu:hover {
        transform: translate(-300px);
      
        /*メニュー横幅①と合わせる*/
      
        + #menu-background {
          opacity: 0.5;
      
          /*黒背景部分透過度*/
          z-index: 999;
        }
      }

    }
  }
  .main{
    z-index:0;
    overflow: hidden;
    background-color:white;
    height: 100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    
    &__title{
      width: 100%;
      font-size: 40px;
      font-weight: bold;
      text-align:center;
      margin-top: 20px;
      color:#111111;

      &__select-box{
      margin-right: 30px;
      font-size: 15px;
     
      }
    }

    &__contents{
      color: #151515;
      display: flex;
      
 
      &__list{
        width: 220px;
        display: inline-block;
        margin-left: 80px;
        margin-top: 20px;
        display: flex;
        background-color:white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        a{
          text-decoration: none;
          color: black;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        }
        .post{  
          width: 220px;
          height: 200px;
          border: solid solid #151515;
          border-width: 1px;
          box-shadow:0px 0px 10px;
          margin-right:50px ;
          .post__image{
          background-color: #fff;
  
          }
          .post__content{
          .food{
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          &__content{
            background-color: white;
            color: #333;
            padding: 16px;

          }
          }
        }
      }
    }
    



  }
  .exhibition{
    width: 70px;
    height: 70px;
    background: yellow;
    text-align: center;
    border-radius: 50%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    &__text{
      color:black;
      display: block;
      font-size: 13px;
      text-decoration: none;
      font-family: 'Inconsolata', monospace;
    }
    a{
      color: black;
      
    }
    &__icon{
      margin-top: 5px;
    }
  }
