.personal{
  background-color: rgb(255, 252, 247);

  z-index:0;
  overflow: hidden;
  height: auto;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  &__profile{
    display: flex;
    width: 220px;
    padding-top: 30px;
    margin:0 auto;

    .contents{
    .main_image{
      border-radius: 50%;
      width: 220px;
      height: 220px;
      border: 1px solid #dad3d3;
    }
    .main_name{
    width: 105px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;

    }
  }
  }
  .edition{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 200px;
    line-height: 30px;
    border: 1px solid #dee2e6 !important;
    border-radius: 10px; 
    background-color: white;  
    a{
      color: #151515;
      text-decoration: none;
    }
    
  }
  &__title{
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    text-align:center;
    margin-top: 20px;
    color:#111111;

  }
  .partition{
    border-bottom: 1px solid#dee2e6!important;
    font-size: 2.5rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    margin-top: 0px;

  }
  /*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: rgb(255, 252, 247);
  width: 100vw;
  margin: 0 auto;}
  
  /*タブのスタイル*/
  .tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 1px solid rgba(255, 187, 0, 0.925);
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  }
  .tab_item:hover {
  opacity: 0.75;
  }
  
  /*ラジオボタンを全て消す*/
  input[name="tab_item"] {
  display: none;
  }
  
  /*タブ切り替えの中身のスタイル*/
  .tab_content {
  display: none;
  padding: 40px 40px 0; 
  clear: both;
  overflow: hidden;
  
  &_description{
    color: #151515;
    display: flex;
    width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
    .icon{
      display: flex;
      .img{
        border-radius: 50%;
        margin-left: 20px;
      }
      .name{
        width: 100px;
        margin: 0 auto;
        font-size: 12px;
        line-height: 30px;
      }
    }
    .image{
      border-radius: 10px;
      margin:  1rem;
      box-shadow:0px 0px 10px;
      width: 200px;
      height: 200px;
  }
  .posts__content{
    font-family: monospace;
    font-size: 12px;
    text-align: center;
  

}
      a{
        text-decoration: none;
        color: black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
      a:hover{
        transform: scale(1.03);
            transition-duration: 0.5s;
      }
  }
  }
  
  
  /*選択されているタブのコンテンツのみを表示*/
  #all:checked ~ #all_content,
  #programming:checked ~ #programming_content,
  #design:checked ~ #design_content {
  display: block;
  }
  
  /*選択されているタブのスタイルを変える*/
  .tabs input:checked + .tab_item {
  background-color: rgba(255, 187, 0, 0.925);
  color: #fff;
  }

  &__contents{
    color: #151515;
    display: flex;
    

    &__list{
      width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      background-color: white;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
      
      .posts{  
        display: flex;
       
       
        .posts__image{
          .image{
            border-radius: 10px;
            margin: 1.25rem;
            box-shadow: 0px 0px 10px;
            width: 200px;
            height: 200px;
          }
        }
        .posts__content{
          margin-left: 10px;
        .food{
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &__content{
          background-color: white;
          color: #333;
          padding: 16px;
        }
        }
      }
    }
  }



  




}