= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    =f.hidden_field :email ,value: "test@gmail.com"
    =f.hidden_field :password ,value: "111111"
  .actions
    = f.submit "簡単ログイン",class:"btn"