= render "shared/header"
.post
  .post__content
    .post__content__title
      new post
    .post__content__recommend
      %form{:action => "example.cgi", :method => "post"}
        %br
        %br
        %br
        %p
          Brand：
          %input{:name => "name", :type => "text",class:"input-default"}/
        %br
        %br
        %br
        %br
      
        %p
          Shop name：
          %input{:name => "email", :type => "text",class:"input-default"}/
        %br
        %br
        %br
        %br
        
        %p
          Food img：
          %input{:name => "email", :type => "text",class:"input-default"}/
        %br
        %br
        %br
        %br
        %br
        %p
          Description：
          %input{:name => "email", :type => "text",class:"input-default"}/
        %br
        %br
        %br
        %br
        %p
          Adress：
          %input{:name => "email", :type => "text",class:"input-default"}/
        %br
        %br
        %br
        %p
          %input{:type => "submit", :value => "Send",class:"send__btn"}/
        






