.reviews
  .input
    .input__stars
      .star-rating-front{:style => "width: 50%"} ★★★★★
      .star-rating-back ★★★★★
    .input__contents
      %textarea{:cols => "30", :name => "comment", :rows => "5",placeholder:"Try review!!",class:"input__contents--form"}
      %p
        %input{:type => "submit", :value => "Send",class:"btn"}/

  .other-reviews
  
