.review-results
  .review-results__title
    .icon
      .img
      .name
        conributer
    .time
      07/17 07:17
    .input__stars
      .star-rating-front{:style => "width: 50%"} ★★★★★
      .star-rating-back ★★★★★
  .partition
  .review-results__contents
    まうまいんじゃないだろうか。おおおおおおおおおおおお
.review-results
  .review-results__title
    .icon
      .img
      .name
        conributer
    .time
      07/17 07:17
    .input__stars
      .star-rating-front{:style => "width: 50%"} ★★★★★
      .star-rating-back ★★★★★
  .partition
  .review-results__contents
    まずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずいまずい

